@import "tailwindcss";
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
} */

*{
  /* color: #fff; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #1c1c1c;
}

#tasklist::-webkit-scrollbar{
  height: 8px;
}

#tasklist::-webkit-scrollbar-thumb{
  background-color: #555;
  border-radius: 20px;
}
#tasklist::-webkit-scrollbar-track{
  background-color: #1c1c1c;
}