@import "tailwindcss";
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
} */

*{
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #111;
}

#tasklist::-webkit-scrollbar{
  display: none;
}